.programs_sec {
	text-align: center;
}
.prog_cont {
	border-radius: 5px;
	width: 300px;
	display: inline-block;
	margin: 20px;
}
.prog_img {
	width: 100%;
}
.prog_descr {
	background-color: #A76498;
}
.prog_descr:hover {
	background-color: #A76470;
}
.prog_link {
	text-decoration: none;
}
.prog_name {
	display: inline-block;
	text-align: left;
}
.icon_to {
	display: inline-block;
	text-align: right;
}
.prog_name_txt {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #000000;
}