.design_item_cont {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 50px;
	margin-bottom: 80px;
}
.design_item_cont {
	text-align: center;
}
.flyer_item_cont {
	display: inline-block;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 20px;
}
.flyer_item {
	max-width: 250px;
}
.flyer_item:hover {
	opacity: 0.8;
}
.flyer_img {
	width: 100%;
}
.work_title {
	padding-top: 10px;
	padding-bottom: 10px;
}
.work_title_txt {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 18px;
	margin: 0;
}
.work_p {
	width: 100%;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

.edit_compare_cont {
	width: 100%;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}
.edit_compare_cont:hover {
	opacity: 0.8;
}
.edit_compare_img {
	width: 100%;
}