.role_cont {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}
.skills_sec, .education_sec {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}
.education_sec {
	max-width: 400px;
}
.role_pic {
	width: 100%;
	max-width: 400px;
	display: inline-block;
}
.role_img {
	width: 100%;
}
.role_txt {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 19px;
}
.place_txt {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 18px;
}
.date_txt {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 16px;
}