@media screen and (min-width: 700px) {
	.menu_icon, .back_arrow {
		display: none;
	}

	.nav_item {
		display: inline-block;
		padding-top: 22px;
		padding-bottom: 22px;
	}

	.nav_link {
		display: inline-block;
		padding-left: 20px;
		padding-right: 20px;
		text-decoration: none;
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		color: #707070;
	}

	.nav_link:hover {
		color: #E87AC0;
	}

	.for_girls_txt {
		font-size: 60px;
	}

	.girls_info_txt {
		font-size: 22px;
	}

	.header {
		margin-bottom: 80px;
	}

	.girls_cat {
		margin-left: 50px;
		margin-right: 50px;
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.cat_name_txt {
		font-size: 19px;
	}

	.cat_descr_txt {
		font-size: 18px;
	}
}

@media screen and (min-width: 900px) {
	.girls_cat {
		margin-left: 80px;
		margin-right: 80px;
		margin-top: 50px;
		margin-bottom: 50px;
	}
}	

@media screen and (min-width: 1024px) {
	.girls_cat {
		margin-left: 100px;
		margin-right: 100px;
		margin-top: 50px;
		margin-bottom: 50px;
	}
}

@media screen and (min-width: 1204px) {
	.girls_cat {
		margin-left: 120px;
		margin-right: 120px;
		margin-top: 50px;
		margin-bottom: 50px;
	}
}

@media screen and (min-width: 1240px) {
	.girls_cat {
		margin-left: 140px;
		margin-right: 140px;
		margin-top: 50px;
		margin-bottom: 50px;
	}
}
