.header {
	background-color: #EEFFFF;
	padding-top: 30px;
	padding-bottom: 30px;
}
.main_info {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
.title_sub4_txt {
	font-family: 'IBM Plex Mono', monospace;
	font-size: 14px;
	font-weight: 400;
	color: #000000;
	margin: 0;
}
.title_main_txt {
	font-family: 'Sacramento', sans-serif;
	font-size: 50px;
	font-weight: 400;
	color: #000000;
	margin: 0;
}
.title_sub3_txt {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #000000;
	margin: 0;
}
.cont_icon_to {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
}
.icon_to {
	display: inline-block;
	margin-right: 20px;
	margin-left: 20px;
}
.icon_to:hover {
	opacity: 0.7;
}
/*main*/
.work_sec {
	margin-bottom: 80px;
}
.work_cont {
	text-align: center;
}
.work_cat {
	max-width: 500px;
	display: inline-block;
	margin: 10px;
}
.work_cat:hover {
	opacity: 0.8;
}
.work_cat_img {
	width: 100%;
}
/*About*/
.about_sec {
	border: 1px solid red;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}
@media screen and (min-width: 600px) {
	.title_main_txt {
		font-size: 100px;
	}
}
@media screen and (min-width: 800px) {
	.work_cat {
		max-width: 350px;
	}
}
@media screen and (min-width: 1000px) {
	.work_cat {
		max-width: 400px;
	}
}


